body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d4ecff;
    background: linear-gradient(0deg,rgba(212, 236, 255, 1) 0%, rgba(125, 190, 255, 1) 50%, rgba(0, 133, 250, 1) 100%);
}

.affirmation-container {
    text-align: center;
    margin-bottom: 2rem;
}

.main-button {
    cursor: pointer;
    color: black;
    background-color: white;
    aspect-ratio: 1 / 1;
    width: min(40vw, 240px);
    border: 3px solid black;
    border-radius: 50%;
    
    font-family: "Nunito Sans", sans-serif;
    font-size: 2em;
}

.affirmation-text {
    margin-top: 20px;
    font-size: 1.5em;
    color: #222; 
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.6;
    max-width: 60ch;

    opacity: 1;
    transition: opacity 0.5s ease;
}

.affirmation-text.fade-out {
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
    .affirmation-text { transition: none; }
}